*/**/.DS_Store
.git
.tm_properties
_build
elixir_buildpack.config
phoenix_static_buildpack_compile
phoenix_static_buildpack.config
Procfile
apps/*/*.dump
apps/*/cover
apps/*/assets/node_modules
apps/*/priv/static
apps/*/ext/libtorch-*
bin
config/dev.*
config/test.*
!config/test.exs
config/*.env
deps
doc
infra/aws*
priv/keys
releases/*
