.DS_Store
*.beam
*.ez
/*.ez
/.fetch
/apps/*/cover
/apps/*/assets/node_modules
/apps/*/assets/.fontcustom-manifest.json
/apps/*/priv/static/
!/apps/*/priv/static/.keep
/config/*.env
/config/*.secret.exs
/cover
/db
/deps
/doc
/models
/priv/cert/*
/priv/keys/*
/releases
/vendor/*
!/vendor/*.sh
!/vendor/cache/*
/_build
erl_crash.dump
npm-debug.log
