<div class="d-flex w-100 h-100 flex-column align-items-center justify-content-center">
  <div>
    <h1>
      video room
    </h1>
  </div>
  <div>
  </div>
  <hr/>
  <div class="text-center">
    <a href="https://github.com/evadne/emporium">
      View Source
    </a>
  </div>
</div>
