export NGROK_SUBDOMAIN="" # such as Emporium-<user>
export SECRET_KEY_BASE="" # mix phx.gen.secret
export GUARDIAN_JWK_ENCODED_KEY="" # mix guardian.gen.secret
export TURN_IP="127.0.0.1"
export TURN_MOCK_IP="127.0.0.1"
export TURN_PORT_UDP_FROM="50000"
export TURN_PORT_UDP_TO="65535"

export HOST=${HOST:=localhost}
export PORT=${PORT:=4000}
